
/2D_rigging_game/[Ll]ibrary/
/2D_rigging_game/[Tt]emp/
/2D_rigging_game/[Oo]bj/
/2D_rigging_game/[Bb]uild/
/2D_rigging_game/[Bb]uilds/
/2D_rigging_game/[Ll]ogs/
/2D_rigging_game/[Uu]ser[Ss]ettings/

ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.apk
*.aab
*.unitypackage
*.app
